<%- include('partials/_header', { 
  pageTitle: 'Home', 
  headerImage: 'img/home-bg.jpg', 
  headerTitle: 'Clean Blog', 
  headerSubtitle: 'A Blog Theme by Start Bootstrap' 
}) %>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Main Content -->
  <div class="container">
    <% for (let i = 0; i < blogs.length; i++) { %>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="/blogs/<%= blogs[i]._id %>">
              <h2 class="post-title">
                <%= blogs[i].name %>
              </h2>
            </a>
            <p class="post-meta"><%= blogs[i].message %></p>
          </div>
          <hr>
        </div>
      </div>
    <% } %>
  </div>
   
    <!-- Pager -->
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="clearfix float-right">
        <a class="btn btn-primary" href="/">Older Posts &rarr;</a>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer') -%>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
